.queue-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.queue-table-container {
    flex: 1;
    padding: 30px;
    border-right: 2px solid #ccc;
    overflow-y: auto;
    position: relative;
}

.queue-table {
    margin-top: 3%;
    width: 100%;
    border-collapse: collapse;
}

.queue-table th, .queue-table td {
    border: none;
    padding: 8px;
    text-align: center;
}

.queue-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.queue-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.queue-list th {
    background-color: #f2f2f2;
}

.queue-list li:nth-child(odd) {
    background-color: #f0f0f0;
}

.queue-list li:nth-child(even) {
    background-color: #ffffff;
}

.queue-title {
    margin-top: 3%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.queue-current-number {
    margin-top: 3%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: darkgreen;
}


.queue-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.current-number {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    max-height: 70%;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.configuration-button {
    position: absolute;
    bottom: 20px;
    left: 45%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}