.greeting-section {
    text-align: center;
    margin-top: 10vh;
    padding: 0;
}

.atm-window {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    background-color: #fff;
    color: #fff;
    font-family: Arial, sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
}

.screen {
    background-color: #222;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.side-buttons.left {
    left: 20px;
}

.side-buttons.right {
    right: 20px;
}

.side-button {
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;

    min-width: 55vh;
    min-height: 5vh;
}

.side-button:hover {
    background-color: #777;
}